CREATE TABLE dbo.TeamFixtureStats(	teamfixtureid INT NULL,	assistsid INT NULL,	bonusid INT NULL,	bpsid INT NULL,	goals_scoredid INT NULL,	savesid INT NULL,	yellow_cardsid INT NULL,	value INT NULL,	element INT NULL);