CREATE TABLE dbo.TeamFixture(	id INT NOT NULL,	kickoff_time_formatted NVARCHAR(32) NOT NULL,	is_game_started BIT NOT NULL,	event_day INT NOT NULL,	deadline_time SMALLDATETIME NOT NULL,	deadline_time_formatted NVARCHAR(32) NOT NULL,	team_h_difficulty INT NOT NULL,	team_a_difficulty INT NOT NULL,	code INT NOT NULL,	kickoff_time SMALLDATETIME NOT NULL,	team_h_score INT NULL,	team_a_score INT NULL,	is_finished BIT NOT NULL,	[minutes] INT NOT NULL,	is_provisional_start_time BIT NOT NULL,	is_finished_provisional BIT NOT NULL,	gameweekid INT NOT NULL,	team_a INT NOT NULL,	team_h INT NOT NULL,	CONSTRAINT PK_TeamFixture PRIMARY KEY CLUSTERED (id ASC));